
Datas/Book1.xlsx
Datas/Data Penjualan/DATA PENJUALAN KD PENGAWAS HP (AAN) (LISTRIK).xls
Datas/Data Penjualan/DATA PENJUALAN KD PENGAWAS HP (AAN).xls
Datas/Data Penjualan/DATA PENJUALAN KD PENGAWAS HP.xls
Datas/Data Penjualan/DATA PENJUALAN KD PENGAWAS R AKAD.xls
Datas/Data Penjualan/DATA PENJUALAN KD PENGAWAS.xls
Datas/MP KP 2021 P Gamal Project Plot PA2.dwg
Datas/MP KP 2021 P Gamal Project Plot.dwg
Datas/MP KP 2021 P Gamal Project Plot2.dwg
Datas/plot.log
Datas/~$Book1.xlsx
Engine/Wide Length Formula ready.vbs
Engine/Wide Length Formula.vbs
Raw/Raw_KdPengawas_Part1.pdf
Raw/Raw_KdPengawas_Part1.png
Raw/Raw_KdPengawas_Part1.svg
Raw/Raw_KdPengawas_Part2.pdf
Raw/Raw_KdPengawas_Part2.png
Raw/Raw_KdPengawas_Part2.svg
Exports/testexample_FigurePlot.pdf
Datas/~$patchtables.xlsx
