
Datas/Book1.xlsx
Datas/Data Penjualan/DATA PENJUALAN KD PENGAWAS HP (AAN) (LISTRIK).xls
Datas/Data Penjualan/DATA PENJUALAN KD PENGAWAS HP (AAN).xls
Datas/Data Penjualan/DATA PENJUALAN KD PENGAWAS HP.xls
Datas/Data Penjualan/DATA PENJUALAN KD PENGAWAS R AKAD.xls
Datas/Data Penjualan/DATA PENJUALAN KD PENGAWAS.xls
Datas/MP KP 2021 P Gamal Project Plot PA2.dwg
Datas/MP KP 2021 P Gamal Project Plot.dwg
Datas/MP KP 2021 P Gamal Project Plot2.dwg
Datas/plot.log
Datas/~$Book1.xlsx
Engine/Wide Length Formula ready.vbs
Engine/Wide Length Formula.vbs
Raw/Raw_KdPengawas_Part1.pdf
Raw/Raw_KdPengawas_Part1.png
Raw/Raw_KdPengawas_Part1.svg
Raw/Raw_KdPengawas_Part2.pdf
Raw/Raw_KdPengawas_Part2.png
Raw/Raw_KdPengawas_Part2.svg
Exports/testexample_FigurePlot.pdf
Datas/~$patchtables.xlsx
Raw/Raw_KdPengawas_Part1_alphachannel.png
Raw/Raw_KdPengawas_I.png
Exports/multiplePageTest.pdf
Exports/datalistrik-pak-tri.pdf
Raw/Raw_KdPengawas_II.png
Raw/Raw_KdPengawas_Approv_I.png
Raw/Raw_KdPengawas_Approv_II.png
Engine/testDebug.sublime-workspace
SiteplanColorPlot.sublime-project
SiteplanColorPlot.sublime-workspace
Engine/build/core/Analysis-00.toc
Engine/build/core/base_library.zip
Engine/build/core/core.exe.manifest
Engine/build/core/core.pkg
Engine/build/core/EXE-00.toc
Engine/build/core/PKG-00.toc
Engine/build/core/PYZ-00.pyz
Engine/build/core/PYZ-00.toc
Engine/build/core/Tree-00.toc
Engine/build/core/Tree-01.toc
Engine/build/core/Tree-02.toc
Engine/build/core/warn-core.txt
Engine/build/core/xref-core.html
Engine/core.spec
Engine/Raw_KdPengawas_Approv_I.png
Engine/Raw_KdPengawas_Approv_II.png
